<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card</title>
    <link rel="stylesheet" href="/src/style/output.css" />
  </head>
  <body>
    <div class="w-[160px] h-[310px] bg-blue-600">
      <div class="w-[160px] h-[250px] bg-amber-300">
        <img class="h-full w-full" src="/src/asset/img/2.jpg" alt="" />
      </div>
      <p class="text-white text-sm py-1">Brave New World (2025)</p>
      <p class="text-white text-sm">watch with us</p>
    </div>
  </body>
</html>
