<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/output.css">
</head>

<body>
    <footer class="bg-stone-800 h-auto overflow-hidden font pb-10">
        
            <div class="w-[90%] mx-auto flex md:flex-row justify-between flex-col bg-stone-800 ">
                <div class=" text-amber-50">
                    <div class=" font-bold text-4xl p-4 ">
                        <h1 class="mt-7 ">Ready to elevate <br>your data quality?</h1>
                    </div>
                </div>
                
                <div class=" flex  gap-20 justify-between mr-5 font-bold">
                    <button class="md:p-3 p-4  md:h-13 bg-amber-400 mt-15 rounded flex content-center text-amber-50">Pay for watch <img
                    src="../asset/img/Right Arrow (2).png" alt="arrow " class="w-10 h-7"></button>
                    <button class="md:p-3 p-4  md:h-13 bg-amber-400 mt-15 rounded flex content-center text-amber-50 ">Watch now <img
                    src="../asset/img/Right Arrow (2).png" alt="arrow " class="w-10 h-7"></button>
                </div>
            </div>
        
        
        <div class="md:w-[90%] mx-auto  text-amber-50  mt-10 flex md:flex-row flex-col md:justify-between font-bold" >
        <div class=" flex w-[90%] mx-auto  gap-6 text-2xl">
           <img class="w-[60px] h-[60px]" src="/src/asset/img/image.png" alt="">
            <h2 class="">Guarantee data quality <br> upstream.</h2>
        </div>
        <div class="w-[85%] mx-auto md:mt-0 mt-5  md:mx-0 flex  md:flex-row  justify-between md:w-[50%] mr-15 ">
            <div class="text-ms space-y-2 ">
                <p>About</p>
                <p>Movie</p>
                <p>Contect</p>
                <p>FAQ</p>
            </div>
            <div class="space-y-2">
                <p>Trending</p>
                <p>Up Coming</p>
                <p>Live now</p>
            </div>
            <div class="space-y-2">
                <p>Let's chat!</p>
                <p>PSE@</p>
                <div class="flex text-center gap-2 mt-3 w-[20px] h-[20px] mr-2">
                    <img src="../asset/img/icon fa.png" alt="">
                    <img src="../asset/img/icon in.png" alt="">
                    <img src="../asset/img/icon twiter.png" alt="">
                    <img src="../asset/img/icon telegram.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </footer>
</body>

</html>
<style>
    .font{
  font-family: Libre Caslon Text;
}
</style>