<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's New Section</title>
    <link rel="stylesheet" href="/src/style/output.css" />
  </head>
  <body>
    <div class="pic w-full h-[100vh] bg-black relative">
      <img
        class="w-[100%] object-cover h-auto max-w-full"
        src="/src/asset/pic.png"
        alt=""
      />
      <div>
        <h1
          class="text absolute top-[25%] left-[5%] text-5xl text-white font-extrabold max-sm:text-xl max-sm:top-[5%]"
        >
          what is new <br />on Pluto TV, <br />Tubi, and more
        </h1>
        <p
          class="text absolute top-[50%] left-[5%] text-2xl text-white max-sm:text-[10px] max-sm:top-[18%]"
        >
          Select your favorite streaming services to discover <br />more, search
          faster, and get curated recommendations <br />all without ever leaving
          Plex. Connect with friends to <br />see who’s watching what, where.
        </p>
        <button
          class="buton w-[100px] bg-[#EFB522] text-white text-center rounded-[8px] text-2xl absolute top-[75%] left-[5%] max-sm:text-[10px] max-sm:top-[28%] max-sm:w-[60px] py-3 max-sm:py-1 font-extrabold"
        >
          Button
        </button>
      </div>
    </div>
  </body>
</html>
