<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/output.css" />
  </head>
  <body>
    <div class="w-full h-[500px] bg-zinc-900 font">
      <div class="w-[900px] h-[400px] mx-auto">
        <h3 class="text-white text-3xl text-center font-bold py-4">
          Take Plex everywhere
        </h3>
        <p class="text-2xl text-white text-center font-bold">
          Watch free anytime, anywhere, on almost any device.
        </p>
        <div class="w-[600px] h-[300px] mx-auto mt-2">
          <img src="../asset/img/screenshot1.png" alt="" />
          <img src="../asset/img/screenshot2.png" alt="" />
          <img src="../asset/img/screenshot-3.png" alt="" />
        </div>
      </div>
      <p class="text-center py-8 text-2xl text-white">
        See the full list of supported devices
      </p>
    </div>
  </body>
</html>
<style>
  .font {
    font-family: Libre Caslon Text;
  }
</style>
